@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), "Inter", sans-serif;
  --color-primary: #56468B;
  --color-section: #14121F;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #14121F;
  color: #ffffff;
  font-family: var(--font-inter), "Inter", sans-serif;
}